<section class= "create-ticket-root">
  
    <form [formGroup]= "ticketForm" class="ticket-form" name="TICKET FORM">

        <section class="ticket-field" *ngFor= "let field of constants.createTicketFormFields">
            <section class='field-title'>{{field.label}} :</section>

            <section class='field-ctr'>  
                <ng-container [ngSwitch]="field.type">           
                    <input type="text" *ngSwitchCase= "controlTypes.input" class='create-input'
                     [value]= "field.value" [formControlName]="field.formControlName" check-input/>
                    <select *ngSwitchCase= "controlTypes.dropdown" class='create-select' [formControlName]= "field.formControlName" (change)= "dropDownChangeHandler($event)">
                        <option *ngFor= "let option of field.options" [value]= "option" [selected]="field.value === option">
                            {{option}}
                        </option>
                    </select>
                    
                    <textarea *ngSwitchCase= "controlTypes.textarea" class='create-textarea' [formControlName]= "field.formControlName"></textarea>
                </ng-container> 
                <button class='reset-button' (click)= "clearField(field)">
                    <i class='pi pi-refresh'></i>
                </button>
            </section>
        </section>

        <section class="form-buttons">
            <button type="submit" class="submit-button" (click)= "onFormSubmit()">Submit</button>
            <button (click)= "clearForm()" class="reset-all-button">Reset</button>
        </section>

    </form>


</section>