<section class= "create-ticket-root">
  
    <form [formGroup]= "ticketForm" class="ticket-form" name="TICKET FORM">

        <section class="ticket-field" *ngFor= "let field of constants.createTicketFormFields">
            <section>{{field.label}} :</section>

            <section [ngSwitch]="field.type">                
              <input type="text" *ngSwitchCase= "controlTypes.input" [value]= "field.value" [formControlName]="field.formControlName" />
              <select *ngSwitchCase= "controlTypes.dropdown" [formControlName]= "field.formControlName" (change)= "dropDownChangeHandler($event)">
                  <option *ngFor= "let option of field.options" [value]= "option" [selected]="field.value === option">
                      {{option}}
                  </option>
              </select>
              
              <textarea *ngSwitchCase= "controlTypes.textarea" [formControlName]= "field.formControlName"></textarea>              
            </section>

            <section><button (click)= "clearField(field)">Reset</button></section>
        </section>

        <section class="form-buttons">
            <button type="submit" class="submit-button" (click)= "onFormSubmit()">Submit</button>
            <button (click)= "clearForm()" class="reset-button">Reset</button>
        </section>

    </form>


</section>