<section class='ticketing-app-container'>
  <section class='ticketing-app-content' [ngClass]="{blurContent : loaderCount > 0}">
    <ticketing-app-header (createTicketEvent) = "showCreateTicketPopup=true"></ticketing-app-header>
    <router-outlet></router-outlet>
 </section>
 <section class='ticketing-app-loader' *ngIf="loaderCount > 0">
  <section class="loader"></section>
 </section>
 <section class="create-ticket-section">
  <p-dialog header="Create Ticket" [(visible)]="showCreateTicketPopup" [modal]="true"
  [blockScroll]= "true" [dismissableMask]="true" contentStyleClass="dialog-content-class">
    <ticket-app-create-ticket (ticketSubmissionEvent) = "onTicketCreation()"></ticket-app-create-ticket>
 </p-dialog>
 </section>
</section>